.gallery {
  &[data-section="media"] + .lower-info {
    @media (max-width: 64em) {
      &::after {
        content: "";

        position: absolute;
        bottom: -3.5rem;
        left: 50%;

        width: 102%;
        height: 2.5rem;

        transform: translate(-50%, 50%);
      }
    }
    @media (max-width: 64em) and (min-width: 49.01em) {
      &::after {
        bottom: -1rem;
        background: url(@img/vectors/2131327217.svg) center / contain repeat-x;
      }
    }
    .frame-btn__inner {
      @media (max-width: 64em) and (min-width: 49.01em) {
        height: 4.3rem;
      }
    }
    .frame-btn__txt {
      @media (max-width: 64em) and (min-width: 49.01em) {
        padding: 0.8rem 4.3rem;
      }
    }
    .border {
      @media (max-width: 64em) and (min-width: 49.01em) {
        top: 32%;
        width: 216.5%;
      }
    }
  }
  height: 100dvh;

  // .gallery__container

  &__container {
    &.container {
      padding-top: 10dvh;
      padding-bottom: 0.6dvh;
      display: flex;
      flex-direction: column;
      height: 100dvh;
      column-gap: 2rem;

      @media (min-width: 64.01em) {
        padding-bottom: 0.5dvh;
      }

      @media (max-width: 49em) {
        padding-top: 7dvh;
        padding-bottom: 7dvh;
      }

      @media (max-width: 64em) and (min-width: 49.01em) {
        padding-top: 13dvh;
      }
    }
  }

  // .gallery__slider

  &__slider {
    flex: 1 1 auto;
    @media (max-width: 49em) {
      margin-bottom: 3.5dvh;
    }
    .gallery__slide-btn {
      display: none;
    }

    &.swiper {
      width: 100dvw;
    }

    transform: translateX(-2rem);

    @media (min-width: 49.01em) {
      transform: translateX(-1.1rem);
    }
  }

  // .gallery__wrapper

  &__wrapper {
  }

  // .gallery__slide

  &__slide {
  }

  // .gallery__image-wrap

  &__image-wrap {
    display: flex;
    height: 100%;
    picture {
      width: 100%;
      height: 100%;
    }
  }

  // .gallery__image

  &__image {
    height: 100%;

    object-fit: cover;
    @media (min-width: 64.01em) {
      object-position: left 28%;
    }
  }

  // .gallery__row

  &__row {
    margin-bottom: auto;
    display: flex;
    align-items: center;
    transform: translateY(2.5rem);

    @media (min-width: 49.01em) {
      .link {
        text-transform: uppercase;
      }
    }

    @media (max-width: 49em) {
      display: grid;
      align-items: start;
      grid-template-columns: 1fr auto;
      row-gap: 3.2rem;
      transform: translateY(-2.5dvh);

      .link {
        font-size: 3.4rem;
        column-gap: 5rem;
        justify-content: space-between;
      }
    }
  }

  &__go-back {
    position: relative;
    @media (max-width: 49em) {
      grid-row: span 2;
    }
    &.link {
      margin-right: 4rem;
      &::after {
        content: "|";

        position: absolute;
        top: 50%;
        right: -2rem;
        transform: translate(80%, -50%);

        @media (max-width: 49em) {
          content: none;
        }
      }
    }
  }

  &__save {
    &.link {
      column-gap: 5rem;
    }
  }

  // .gallery__share

  &__share {
    margin-right: auto;
    &.link {
      column-gap: 2rem;

      &::after {
        content: var(--i-arr-sm);
      }

      @media (min-width: 64.01em) {
        padding-right: 0.5rem;
      }
    }
  }

  // .gallery__save

  &__save {
  }

  // .gallery__controls

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 2rem;
    margin-top: 4dvh;
  }

  // .gallery__controls-btn

  &__controls-btn {
    display: inline-flex;

    @media (max-width: 64em) {
      opacity: 0;
      visibility: hidden;
    }

    @media (max-width: 49em) {
      display: none;
    }

    svg {
      width: 1.8rem;
      height: 1.8rem;
    }

    // .gallery__controls-btn_prev

    &_prev {
      transform: rotate(180deg);
      padding-bottom: 6dvh;
    }

    // .gallery__controls-btn_next

    &_next {
      padding-top: 6dvh;
    }
  }

  // .gallery__thumbs

  &__thumbs.swiper-wrapper,
  &__thumbs {
    display: flex;
    align-items: flex-end;
    height: 12.5dvh;

    @media (max-width: 64em) and (min-width: 49.01em) {
      padding-bottom: 3dvh;
      height: 17.5dvh;
      transform: translateX(1rem);
    }

    @media (max-width: 49em) {
      height: 9.5dvh;
      width: 100%;
    }
  }

  // .gallery__thumb

  &__thumb {
    transition:
      width 0.4s ease-in-out,
      opacity 0.4s ease-in-out,
      flex 0.4s ease-in-out;
    cursor: pointer;

    &.swiper-slide {
      height: auto;
    }

    .gallery__image {
      height: 5.4dvh;

      transform-origin: center;

      transition: height 0.4s ease-in-out;

      @media (max-width: 49em) {
        height: 9dvh;
      }
    }
    flex: 0 0 7.5rem;
    width: 7.5rem;

    @media (max-width: 64em) and (min-width: 49.01em) {
      flex: 0 0 9rem;
      width: 9rem;
    }

    @media (max-width: 49em) {
      flex: 0 0 8.8rem;
      width: 8.8rem;
    }

    &:not(.swiper-slide-thumb-active) {
      opacity: 0.5;
      &:nth-child(8n + 2) {
        .gallery__image {
          height: 7dvh;
          @media (max-width: 64em) and (min-width: 49.01em) {
            height: 6.3dvh;
          }
          @media (max-width: 49em) {
            height: 4.7dvh;
          }
        }
      }

      &:nth-child(8n + 3) {
        .gallery__image {
          height: 7.5dvh;
          @media (max-width: 64em) and (min-width: 49.01em) {
            height: 6.9dvh;
          }
          @media (max-width: 49em) {
            height: 5.2dvh;
          }
        }
      }

      &:nth-child(8n + 5) {
        .gallery__image {
          height: 9dvh;
          @media (max-width: 64em) and (min-width: 49.01em) {
            height: 8.5dvh;
          }
          @media (max-width: 49em) {
            height: 6.4dvh;
          }
        }
      }

      &:nth-child(8n + 6) {
        .gallery__image {
          height: 5.4dvh;
          @media (max-width: 49em) {
            height: 3.6dvh;
          }
        }
      }

      &:nth-child(8n + 7) {
        .gallery__image {
          height: 7.4dvh;
          @media (max-width: 49em) {
            height: 6dvh;
          }
        }
      }

      &:nth-child(8n) {
        .gallery__image {
          height: 4dvh;
          @media (max-width: 49em) {
            height: 2.5dvh;
          }
        }
      }
    }

    &.swiper-slide-thumb-active {
      flex: 0 0 17.6rem;
      width: 17.6rem;

      @media (max-width: 64em) and (min-width: 49.01em) {
        flex: 0 0 22rem;
        width: 22rem;
      }

      @media (max-width: 49em) {
        flex: 0 0 20.4rem;
        width: 20.4rem;
      }

      .gallery__image {
        height: 12.5dvh;

        @media (max-width: 64em) and (min-width: 49.01em) {
          height: 11.5dvh;
        }

        @media (max-width: 49em) {
          height: 9.5dvh;
        }
      }
    }
  }
}
[data-page="gallery"] {
  .header {
    &__logo {
      @media (max-width: 64em) and (min-width: 49.01em) {
        margin-right: 16.5rem;
      }
    }
    &__heading {
      @media (max-width: 64em) and (min-width: 49.01em) {
        padding-top: 2rem;
      }
    }
  }
}
