.news {
  --opacity: 0;
  --y: 100%;
  --blur: 3rem;

  overflow: hidden;
  justify-content: end;

  &::before {
    content: "";
    position: fixed;
    z-index: 2;
    top: -45vh;
    left: -87rem;
    width: 228rem;
    height: 100%;
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 78.16%);
    filter: blur(13.5px);
  }

  &::before,
  .homepage-table__btn {
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease-in-out 1s, visibility 1s ease-in-out 1s;
  }

  .homepage-table__btn {
    @media (max-width: 64em) and (min-width: 49.01em) {
      margin: 0 auto;

      display: inline-flex;
      min-width: 36rem;

      .frame-btn__txt {
        padding: 0.7rem 3.5rem;
      }
    }
  }

  @media (max-width: 64em) and (min-width: 49.01em) {
    [data-current-section="links"].set-homepage-css & {
      opacity: 1;
      visibility: visible;
      height: var(--height);
      transition: opacity 1s ease-in-out 1s, visibility 1s ease-in-out 1s,
        height 1s ease-in-out 1s;

      &::before,
      .homepage-table__btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  @media (min-width: 64.01em) {
    &::after {
      content: "";

      position: absolute;
      bottom: 9rem;
      left: 0;

      width: 100%;
      height: 3.1rem;

      background: url(@img/vectors/2131327196.svg) center / cover repeat;
    }
  }

  // .news__container

  &__container {
    display: flex;
    flex-direction: column;

    @media (min-width: 64.01em) {
      justify-content: center;

      &.container {
        padding-bottom: 7rem;
      }
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      &.container {
        padding-top: 10rem;
      }
    }

    @media (max-width: 64em) and (min-width: 49.01em) and (max-height: 1120px) {
      &.container {
        padding-top: 12rem;
      }
    }

    @media (max-width: 49em) {
      &.container {
        padding-top: 12rem;
        padding-bottom: 24rem;

        justify-content: space-around;
      }
    }
  }

  // .news__filters

  &__filters,
  &::after,
  &__controls {
    .set-homepage-css & {
      opacity: var(--opacity);
      transform: translateY(var(--y));
      filter: blur(var(--blur));
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      [data-current-section="links"].set-homepage-css & {
        opacity: 1;
        transform: none;
        filter: none;
      }
    }
  }

  &__filters {
  }

  // .news__slider

  &__slider {
    &.swiper {
      margin-left: 0;
      margin-right: 0;

      .set-homepage-css & {
        opacity: 0;
        visibility: hidden;
      }

      transition: opacity 1s ease-in-out, visibility 1s ease-in-out,
        transform 1s ease-in-out;

      @media (max-width: 64em) and (min-width: 49.01em) {
        margin-bottom: 2rem;
      }

      @media (max-width: 64em) and (min-width: 49.01em) {
        [data-current-section="links"].set-homepage-css & {
          opacity: 1;
          visibility: visible;
          transform: none;
        }
      }
    }

    @media (min-width: 64.01em) {
      margin-bottom: 13.7rem;

      ._small-screen &,
      ._hf & {
        margin-bottom: 7rem;
      }

      &.swiper {
        padding-left: 3rem;

        width: 101%;
      }
    }
  }

  // .news__wrapper

  &__wrapper {
    &.swiper-wrapper {
      @media (max-width: 64em) {
        margin: 0 auto;

        flex-direction: column;
        row-gap: 10.6rem;
        max-width: 90rem;
      }
      @media (max-width: 64em) and (min-width: 49.01em) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        max-width: none;
        column-gap: 10rem;
        row-gap: 5.4vh;
      }
      @media (max-width: 64em) and (min-width: 49.01em) and (max-height: 1120px) {
        grid-template-columns: repeat(3, 1fr);
        max-width: none;
        column-gap: 6rem;
        row-gap: 3rem;
      }
    }
  }

  // .news__slide

  &__slide {
    &.swiper-slide {
      width: 100%;

      @media (min-width: 64.01em) {
        flex: 0 0 54.2rem;
        width: 54.2rem;
      }

      @media (max-width: 49em) {
        height: auto;

        &:not(:first-child, :nth-child(2), :nth-child(3)) {
          display: none;
        }
      }
    }
  }

  // .news__controls

  &__controls {
    @media (max-width: 49em) {
      display: none;
    }
    @media (max-width: 64em) and (min-width: 49.01em) {
      margin-bottom: 4rem;
    }
  }
}

.news-card {
  position: relative;

  // .news-card__content

  &__content {
    position: relative;
    z-index: 2;

    padding: 1.3rem 1.7rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 33.9rem;

    @media (max-width: 49em) {
      padding: 1.2rem;

      min-height: 34.6rem;
      row-gap: 0.5rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      padding: 4rem 1.7rem;
      min-height: 19.4vh;
    }

    @media (max-width: 450px) and (max-height: 850px) {
      min-height: 30.6rem;
    }
  }

  // .news-card__heading

  &__heading {
    max-width: 33.2rem;

    font: var(--h-sm);
    line-height: 109%;
    text-transform: uppercase;

    @media (max-width: 49em) {
      max-width: 40.8rem;

      line-height: 106%;
      letter-spacing: 0.04rem;
    }
  }

  // .news-card__date

  &__date {
    text-transform: uppercase;
    opacity: 0.4;
  }

  // .news-card__image-wrap

  &__image-wrap {
    position: absolute;
    inset: 0;

    &::before {
      content: "";

      position: absolute;
      inset: 0;

      background: linear-gradient(
        180deg,
        rgba(0, 0, 0, 0) 39%,
        rgba(0, 0, 0, 0.78) 73%
      );
    }
  }

  // .news-card__image

  &__image {
    height: 100%;

    object-fit: cover;
  }
}
