.player {
  margin-bottom: 9.5rem;
  padding-top: 13.3rem;

  @media (max-width: 49em) {
    padding-top: 11.4rem;
    margin-bottom: 6.5rem;
  }

  @media (max-width: 64em) and (min-width: 49.01em) {
    padding-top: 10.3rem;
    margin-bottom: 4.5rem;
  }

  // .player__container

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 10.6rem;

    @media (max-width: 49em) {
      row-gap: 2.9rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      row-gap: 11.3rem;
    }
  }

  // .player__body

  &__body {
    display: flex;
    justify-content: space-between;

    @media (max-width: 64em) {
      flex-direction: column;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      row-gap: 10rem;
    }

    @media (max-width: 49em) {
      row-gap: 10rem;
    }
  }

  // .player__title

  &__title {
    letter-spacing: 0.2rem;

    @media (max-width: 64em) and (min-width: 49.01em) {
      margin-left: 1rem;
    }
  }

  // .player__aside

  &__aside {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }

  // .player__image-wrap

  &__image-wrap {
    height: 90.6rem;
    border-radius: 0.4rem;
    overflow: hidden;

    background: linear-gradient(360deg, #001513 0%, #00665b 100%);

    @media (min-width: 64.01em) {
      width: 59.5rem;
      height: 69.7rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      height: 49rem;
      width: 45rem;
    }
  }

  // .player__image

  &__image {
    height: 100%;

    object-fit: cover;
    object-position: top;

    @media (max-width: 49em) {
      height: 106%;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      height: 106%;
      width: 95%;
    }
  }

  // .player__content

  &__content {
    margin-top: -0.5rem;
    display: flex;
    flex-direction: column;
    row-gap: 6.4rem;

    @media (min-width: 64.01em) {
      flex: 0 0 90rem;
      width: 90rem;
      row-gap: 11.6rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      row-gap: 3rem;
      transform: translateX(-0.2rem);
    }
  }

  // .player__text

  &__text {
    font-weight: 500;
    line-height: 103%;
    font-size: 3.5rem;

    @media (max-width: 49em) {
      font-size: 5.57rem;
      line-height: 99%;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      line-height: 100%;
      font-size: 4.3rem;
    }
  }

  // .player__list

  &__list {
    @media (max-width: 64em) and (min-width: 49.01em) {
      width: 100.3%;
    }
  }

  &__list,
  &__sublist {
    display: flex;
    flex-direction: column;
  }

  &__sublist {
    padding-right: 0.5rem;
    align-items: flex-end;
    row-gap: 0.6rem;

    .player__list-txt {
      line-height: 100%;
    }

    @media (max-width: 64em) {
      padding-right: 0;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      margin-top: 0.9rem;

      row-gap: 0.1rem;
    }

    @media (max-width: 49em) {
      margin-top: 0;
      row-gap: 0.29rem;
    }
  }

  // .player__list-item

  &__list-item {
    padding: 1.41rem 0;

    display: flex;
    justify-content: space-between;
    column-gap: 10rem;

    &_has-sublist {
      @media (max-width: 49em) {
        &.player__list-item {
          padding-top: 2rem;
          align-items: center;
          height: auto;
        }
      }
    }

    &:not(:last-child) {
      border-bottom: 0.5px solid var(--c-primary);
    }

    @media (max-width: 49em) {
      padding: 3rem 0;

      height: 9rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      padding: 1.43rem 0;
    }
  }

  // .player__list-txt

  &__list-txt {
    font-weight: 500;
    font-size: 2.5rem;
    line-height: 156%;
    letter-spacing: 0.2rem;
    text-transform: uppercase;

    &:nth-child(2) {
      text-align: right;
    }

    &::before {
      content: attr(data-symbol);
    }

    @media (max-width: 49em) {
      font-size: 2rem;
      line-height: 122%;
      font-weight: 400;
      letter-spacing: 0.09rem;
    }

    @media (min-width: 49.01em) {
      &:nth-child(2) {
        letter-spacing: 0.24rem;
        margin-right: 0.3rem;
      }
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      font-size: 1.6rem;
      line-height: 188%;
      letter-spacing: 0.1rem;

      &:nth-child(2) {
        letter-spacing: 0.1rem;
        margin-right: 0;
      }
    }
  }

  // .player__socials

  &__socials {
    display: flex;
    align-items: center;
    column-gap: 2.3rem;

    @media (min-width: 49.01em) {
      margin-right: 0.5rem;
      margin-top: 1rem;
    }

    @media (max-width: 49em) {
      column-gap: 3.9rem;
    }

    @media (max-width: 64em) and (min-width: 49.01em) {
      margin-right: 0;
      margin-top: 0;
      column-gap: 2.2rem;
    }
  }

  // .player__socials-item

  &__socials-item {
    svg {
      width: 2.5rem;
      height: 2.5rem;

      @media (max-width: 49em) {
        width: 4rem;
        height: 4rem;
      }
    }
  }

  // .player__socials-wrap

  &__socials-wrap {
    display: inline-flex;
  }
}
[data-page='player'] {
  main {
    @media (max-width: 64em) {
      .lower-info {
        bottom: 3rem;

        &::after {
          content: '';

          position: absolute;
          bottom: -3.5rem;
          left: 50%;

          width: 102%;
          height: 2.5rem;

          transform: translate(-50%, 50%);
        }
      }
    }
    @media (max-width: 64em) and (min-width: 49.01em) {
      .lower-info {
        &::after {
          bottom: -2rem;
          background: url(@img/vectors/2131327217.svg) center / contain repeat-x;
        }
        .frame-btn {
          transform: translateY(1rem);
        }
      }
    }
    @media (max-width: 49em) {
      .container {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .lower-info {
        &::after {
          display: none;
        }
        .frame-btn__txt {
          padding: 2rem 5rem;
        }
        .border {
          top: 52%;
          width: 96%;
          height: 133%;
        }
      }
    }
  }
}
